@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arvo", serif;
}

/* nav bar section  */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.nav-container p {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}

.nav-container ul {
  display: flex;
  gap: 3rem;
}

.nav-container li {
  list-style: none;
}

.nav-container a {
  text-decoration: none;
  color: #131313;
  font-size: 1rem;
  font-weight: 500;
}

/* banner section  */

.banner-container {
  background-color: #ff900e1a;
  margin-bottom: 80px;
}

.banner-content {
  text-align: center;
  padding-bottom: 50px;
}

.banner-content h3 {
  /* width: 862px; */
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}

.banner-content p {
  /* width: 868px; */
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 32px;
}

.banner-content button {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 24px;
  border: none;
  border-radius: 8px;
  background-color: #ff900e;
}

button:hover {
  cursor: pointer;
  color: #131313;
}

.img-content {
  text-align: center;
  padding-bottom: 3rem;
}

/* features section  */

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-right: 70px;
}

.features-details h3 {
  color: #727272;
  font-size: 3rem;
  font-weight: 700;
}

.features-details p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 32px;
}

.features-details button {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 20px 24px;
  background-color: #ff900e;
}

.features-details button:hover {
  cursor: pointer;
  color: #131313;
}

.col-1 {
  color: #131313;
}

.col-2 {
  color: #ff900e;
}

/* love and enjoy section   */

.love-enjoy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
  margin-bottom: 100px;
}

.year {
  position: absolute;
  left: 900px;
  bottom: -25px;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
  background-color: #ff900e;
}

.yr {
  font-size: 3rem;
  font-weight: 700;
}

.exp {
  font-size: 2rem;
  font-weight: 500;
}

.love-enjoy-content h3 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 24px;
}

.love-enjoy-content p {
  width: 586px;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 30px;
}

.love-enjoy-content h5 {
  color: #131313;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.card {
  color: #ffffff;
  padding: 35px 42px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px;
  background-color: rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
}

/* fact section  */

.fact-container {
  margin: 0 250px 80px;
}


.fact-content h4 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}

.fact-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 50px;
}

.prize {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  border-radius: 8px;
  border: 2px solid #ff900e;
  width: 240px;
  height: 240px;
  text-align: center;
  align-content: center;
}

.box:hover {
  cursor: pointer;
  background-color: #ff8800;
}

.box h5 {
  color: #424242;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.box p {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  .nav-container {
    padding-bottom: 40px;
  }

  .nav-container p {
    font-size: 1rem;
    color: #ff900e;
  }

  .nav-container ul {
    gap: 15px;
  }

  .banner-container {
    margin-bottom: 40px;
  }

  .banner-content h3 {
    font-size: 2rem;
    text-decoration: underline;
  }

  .banner-content p {
    padding: 0 15px;
    padding-bottom: 15px;
  }

  .banner-content button {
    padding: 15px 15px;
  }

  .img-content img {
    width: 90%;
  }

  .features-container {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .features-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .features-img img {
    width: 100%;
  }

  .features-details h3 {
    font-size: 2.3rem;
    padding: 15px;
  }

  .features-details p {
    padding: 15px;
  }

  .features-details button {
    padding: 15px 15px;
  }

  .love-enjoy-container {
    padding: 30px;
    margin: 0;
  }

  .card {
    width: 95%;
  }

  .love-enjoy-container img {
    display: none;
  }

  .year {
    display: none;
  }

  .love-enjoy-content p {
    width: 100%;
  }

  .fact-container {
    margin: 0;
    padding-left: 20px;
  }

  .box {
    width: 85%;
    
  }

  .prize {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

}
